/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  About Section
6.  CTA Section
7.  What We Do Section
8.  What we Offer Section
9.  Choose Us Section
10.  Footer Style
-------------------------------------------------------------------*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/
:root {
	--primary-font: "Quicksand", sans-serif;
	--secondary-font: "Oswald", sans-serif;

	--primary-color: #354c30;
	--secondary-color : #5f9442;
	--highlight-color: #ff5f2a;

	--primary-text-color: #5e6164;
	--dark-text-color: #354c30;
	--darker-text-color: #02353c;
	--light-text-color: #e3f9d7;
	--lighter-text-color: #9caaaf;
	--highlight-text-color: #ff5f2a;
	--highlight-icon-color: #5f9442;
	--hero-highlight-color: #d2ffba;

	--light-bg: #e4fad8;
	--light-bg-2: #fdd9b5;
	--darker-bg: #02353c;
	--gray-bg : #f7f9fc;
	--logo-bg: #6ca94b;
	

	--ahref-focus: #ffffff;
  }
html,
body {
	height: 100%;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--darker-text-color);
	font-weight: 400;
	font-family: var(--secondary-font);
}

h1 {
	font-size: 4.375rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1.2rem;
	font-family: var(--primary-font);
	color: var(--primary-text-color);
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: var(--ahref-focus);
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.hyperlink_underline a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 50%;
	position: absolute;
	background: var(--highlight-text-color);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  .hyperlink_underline a:hover:after { 
	width: 100%; 
	left: 0; 
  }

.section-title {
	margin-bottom: 45px;
}

section.bg-orange{
	background: var(--light-bg-2);
}
section.bg-green{
    background: var(--light-bg);
}

section.bg-darkgreen{
	background: var(--darker-bg);
}
.section-title span {
	color: var(--highlight-color);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	margin-bottom: 10px;
}

.section-title h2 {
	font-weight: 700;
	margin: 0px 0px 1em;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: top center; */
}

.section-padding {
	padding: 5em 0;
	/* scroll-margin: 6em; */
}


.success-message {
	display: none;
	animation: fade-in 0.5s ease-in-out;
  }
  
  @keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
  }
.success-message .lead {
    font-size: 1.25rem;
	color: var(--light-text-color);
}  
.display-3{
	font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.error-message{
	color: var(--light-text-color);
	font-size: 0.8rem;
	line-height: normal;
}

.jumbotron h1{
	margin-bottom: 0.5em;
}
/* buttons */

.primary-btn {
	display: inline-block;
	padding: 14px 30px;
	background: var(--secondary-color);
	-webkit-transform: skew(-30deg);
	-ms-transform: skew(-30deg);
	transform: skew(-30deg);
}

.primary-btn span {
	font-size: 15px;
	font-family: var(--secondary-font);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--light-text-color);
	letter-spacing: 2px;
	display: block;
	-webkit-transform: skew(30deg);
	-ms-transform: skew(30deg);
	transform: skew(30deg);
}

.site-btn {
	border: none;
	display: inline-block;
	padding: 14px 32px;
	background: var(--highlight-color);
	-webkit-transform: skew(-30deg);
	-ms-transform: skew(-30deg);
	transform: skew(-30deg);
}

.site-btn span {
	font-size: 15px;
	font-family: var(--secondary-font);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--dark-text-color);
	letter-spacing: 2px;
	display: block;
	-webkit-transform: skew(30deg);
	-ms-transform: skew(30deg);
	transform: skew(30deg);
}

/* Preloder */


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f2f2; /* Replace with your desired background color */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader img {
  max-width: 100%;
  max-height: 100%;
}

.loader-bg{
	height: 85vh;
}

.footer .loader-bg,
.footer .success-bg{
	height: 70vh;
}
.success-loader{
	display: none;
}
.success-loader .centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	filter: blur(10px) contrast(20);
}
.success-loader .blob-1,.success-loader .blob-2{
	width:3rem;
	height:3rem;
	position:absolute;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.success-loader .blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
	background: var(--light-bg-2);
}
.success-loader .blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background: var(--darker-bg);
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

  
/*---------------------
  Header Section
-----------------------*/

.header {
	position: relative;
}

.header.header_normal {
	-webkit-box-shadow: 0px 15px 60px rgba(3, 18, 59, 0.07);
	box-shadow: 0px 15px 60px rgba(3, 18, 59, 0.07);
}

.header_top {
	background: var(--primary-color);
	padding: 10px 0;
	overflow: hidden;
}

.header_top_widget {
	float: left;
	padding-left: 2rem;
}

.header_top_widget li {
	list-style: none;
	display: inline-block;
	font-size: 0.9rem;
	color: var(--light-text-color);
	margin-right: 45px;
}

.header_top_widget li:last-child {
	margin-right: 0;
}

.header_top_widget li span {
	font-size: 0.9rem;
	color: var(--light-text-color);
	margin-right: 5px;
}

.header_top_right {
	float: right;
}

.header_top_widget li a {
	font-size: 0.9rem;
	color: var(--light-text-color);

	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.header_top_widget li a:hover {
	transform: scale(1.1);
}

.header_top_right__auth {
	display: inline-block;
	position: relative;
	padding-right: 25px;
	margin-right: 20px;
}

.header_top_right__auth:after {
	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	width: 1px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
}

.header_top_right__auth a {
	font-size: 14px;
	color: #9caaaf;
}

.header_top_right__auth a span {
	font-size: 16px;
	color: #ffffff;
	margin-right: 5px;
}

.header_top_right_social {
	display: inline-block;
}

.header_top_right_social a {
	font-size: 0.9rem;
	color: var(--highlight-text-color);
	display: inline-block;
	margin-right: 1rem;
}

.header_top_right_social a:last-child {
	margin-right: 0;
}

.header_options {
	background: var(--light-bg);
}


.header_logo {
	position: relative;
	padding: 0.4rem 0;
	margin-top: -3rem;
	z-index: 1;
}

.header_logo:after {
	position: absolute;
	left: -500px;
	top: 0;
	height: 100%;
	width: 800px;
	background: #83cc5b;
	content: "";
	z-index: -1;
	-webkit-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);
	transform: skewX(-30deg);
}

.header_logo img{
	max-width: 100%;
}

.header_logo p{
	font-size: 0.7rem;
    font-weight: 900;
    color: var(--primary-color);
}
.header_logo a {
	display: inline-block;
}

.header__menu {
	padding: 1.4rem 1rem;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.header__menu ul li.active a {
	color: var(--highlight-text-color);
}

.header__menu ul li:hover a {
	color: var(--highlight-text-color);
}
/* 
.header__menu ul li:hover .dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
} */

.header__menu ul li a {
	font-size: 18px;
	font-family: var(--secondary-font);
	color: var(--dark-text-color);
	display: block;
	font-weight: 600;
	padding: 3px 0;
	text-transform: uppercase;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

/* 
.search__option {
	padding: 34px 0;
	text-align: right;
}

.search__option span {
	font-size: 24px;
	color: #03123b;
	cursor: pointer;
} */

.offcanvas-menu-wrapper {
	display: none;
}

.canvas_open {
	display: none;
}

.header.fixed-header {
	z-index: 111;
	box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
}
.header.fixed-header {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.header.fixed-header .header_logo{
	top: 3rem;
}

/*---------------------
  Hero Section
-----------------------*/

.hero {
	padding-top: 215px;
	padding-bottom: 215px;
}

.hero_text .hero_label {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: var(--hero-highlight-color);
	display: block;
	margin-bottom: 28px;
	text-shadow: 2px 2px 9px black;
}

.hero_text h2 {
	font-size: 52px;
	color: var(--highlight-text-color);
	line-height: 70px;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-shadow: 2px 2px 9px black;
}

.hero_text .primary-btn {
	margin-left: 15px;
}

/*--------------------------------------
   About Section
--------------------------------------*/

.about {
	position: relative;
	z-index: 1;
}

.about.services-about {
	padding-bottom: 100px;
}

.about:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 250px;
	height: 492px;
	width: 970px;
	background-image: url(../img/about/about-bg.webp);
	content: "";
	margin: 0 auto;
	z-index: -1;
}

.about-area .quote-form-area {
    background: var(--secondary-color) none repeat scroll 0 0;
    padding: 2em;
}

.about-area .quote-form-area h3{
	margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.about-area .quote-form input {
    margin-bottom: 10px;
	background-color: var(--light-bg);
	font-weight: 700;
	color: var(--darker-text-color);
	font-size: 1rem;

}

.about-area .quote-form .width-full input {
    border: 0 none;
    padding: 10px;
    width: 100%;
}

.about-area .quote-form .width-half input {
    border: 0 none;
    padding: 10px;
    width: 47%;
}


.about-area .quote-form textarea {
    border: 0 none;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
	background-color: var(--light-bg);
	font-weight: 700;
	color: var(--darker-text-color);
	font-size: 1rem;
}

.about-area #mathAnswer::-webkit-inner-spin-button,
.about-area #mathAnswer::-webkit-outer-spin-button,
#form-footer #mathAnswer-footer::-webkit-inner-spin-button,
#form-footer #mathAnswer-footer::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

.about-area #mathAnswer,
#form-footer #mathAnswer-footer {
  -moz-appearance: textfield; /* Firefox */
  
  margin: 1em 0;
}

.about-area .math-question{
	color: var(--light-text-color);
}
.about-area .math-question,
.footer .math-question{
	color: var(--darker-text-color);
	font-family: var(--secondary-font);
	font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}



.about-area .quote-form button {
    background: var(--darker-bg) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: var(--light-text-color);
    letter-spacing: 2px;
    padding: 1em;
	font-weight: 700;
    text-transform: uppercase;
	width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.about-area .quote-form button:hover {
    background: var(--highlight-color);
    color: var(--darker-text-color);
}

.about-content h2 {
    margin-bottom: 30px;
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.about-content a {
    display: inline-block;
    margin-top: 20px;
}

.about-content a:hover {
    color: #f39c12;
}

.about-content a i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.about-content a:hover i {
    padding-left: 10px;
}

.about-count {
    margin-top: 80px;
}

.single-about-count {
    background: var(--primary-color) none repeat scroll 0 0;
    float: left;
    padding: 2em;
    text-align: center;
    text-transform: capitalize;
    width: 33.33%;
}

.single-about-count h4 {
    color: var(--highlight-text-color);
    font-size: 2rem;
    font-weight: 800;

}

.single-about-count .light-highlight{
	color: var(--light-text-color);
	margin: 1em 0;
}

/* ---------------------------------
    CTA Section
--------------------------------- */

.CTA .content-block__content{
	
border-style: solid;
border-color: var(--highlight-color);
border-width: 0 0 0 6px;
}

.CTA .content-block__title{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
    align-items: center;
	justify-content: center;
}

.CTA .title{
	padding: 0 8%;
}
.CTA .title h2{
	color: var(--highlight-text-color);
}
.CTA .inner{
	padding: 0 0 0 8.33%;
}

.CTA .inner p{
	color: var(--light-text-color);
}


/*---------------------
  What We Do Section
-----------------------*/

.services {
	background: var(--light-bg-2);
}

.services__top__text {
	margin-bottom: 3rem;
}


.services_item_pic {
	height: 27rem;
}

.services_item_text {
	padding: 2em;
	position: relative;
	background: var(--light-bg);
	height: 27rem;
	z-index: 1;
}

.services_item_text.services_item_text--bottom:after {
	left: auto;
	right: -16px;
}

.services_item_text:after {
	position: absolute;
	left: -15px;
	top: 50%;
	height: 30px;
	width: 30px;
	background: var(--highlight-color);
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -25px;
	z-index: -1;
}

.services_item_text .services__item__icon {
	margin-bottom: 26px;
}

.services_item_text h5 {
	color: var(--highlight-text-color);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}


.services_item_text a {
	display: inline-block;
	color: #404040;
	font-size: 15px;
	font-family: var(--secondary-font);
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}

.services_item_text a:after {
	position: absolute;
	left: 0;
	bottom: 1px;
	height: 1px;
	width: 100%;
	background: #404040;
	content: "";
}

/* ---------------------------------
    What we Offer Section
--------------------------------- */
.counter_content {
	padding: 2rem 0;
	border-bottom: 1px solid var(--darker-bg);
}

.counter__item__num {
	margin-bottom: 16px;
	margin-top: 22px;
}

.counter__item__num h2 {
	color: var(--highlight-text-color);
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}

.counter__item__num strong {
	font-size: 36px;
	font-weight: 700;
	color: var(--highlight-text-color);
	display: inline-block;
}

.counter__item {
	margin-bottom: 1.875rem;
}

.counter__item h5 {
	color: var(--darker-text-color);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.counter__item p {
	margin-bottom: 0;
}

/*---------------------
  Choose Us Section
-----------------------*/

.chooseus {
	position: relative;
}

.chooseus__pic {
	position: absolute;
	right: 0;
	top: -5%;
	height: 100vh;
	width: 50%;
	margin-top: -50px;
}

.chooseus__item {
	margin-bottom: 45px;
}

.chooseus__item__icon {
	float: left;
	margin-right: 20px;
}

.chooseus__item__text {
	overflow: hidden;
}

.chooseus__item__text h5 {
	/* color: #ffffff; */
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.chooseus.ourpromise p{
	font-size: 1rem;
	line-height: 22px;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: var(--darker-bg);
	padding-top: 70px;
}

.footer__logo {
	margin-bottom: 32px;
}

.footer__logo img{
	max-width: 90%;
	height: auto;
}

.footer__logo p{
	font-weight: 900;
    color: var(--light-text-color);
}
.footer__logo a {
	display: inline-block;
}

.footer__about {
	margin-bottom: 30px;
	position: relative;
}

.footer__about:after {
	position: absolute;
	right: -15%;
	top: -18%;
	height: 91vh;
	width: 2px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
}

.footer__about p {
	font-size: 1rem;
	line-height: 2rem;
	color: var(--lighter-text-color);
	margin-bottom: 30px;
}

.footer__social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 24px;
}

.footer__social a:last-child {
	margin-right: 0;
}

.footer__widget {
	margin-bottom: 30px;
	padding-left: 1em;
}

.footer__widget h5 {
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.footer__widget ul.address li {
	line-height: normal;
	font-size: 14px;
	font-weight: 500;
	color: #9caaaf;
	margin-bottom: 22px;
}

.footer__widget ul.address li:last-child {
	margin-bottom: 0;
}

.footer__widget ul.address li span {
	font-size: 16px;
	color: var(--highlight-text-color);
	margin-right: 5px;
}

.footer__widget ul li {
	list-style: none;
	line-height: 30px;
}

.footer__widget ul li a {
	font-size: 0.875rem;
	color: var(--light-text-color);
	position: relative;
	display: inline-block;
	transition: color 0.5s ease; /* Add transition for font color */
  }
  
  .footer__widget.quick_links ul li a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: var(--highlight-text-color);
	transition: width 0.5s ease, background-color 0.5s ease;
	transition-delay: 0.2s;
	transform: translateX(-50%);
  }
  
  .footer__widget.quick_links ul li a:hover::before {
	width: 100%;
	transition-delay: 0s;
  }
  
  .footer__widget ul li a:hover {
	color: var(--highlight-text-color);
	font-weight: 700;
  }
  
  
	
	

.footer__copyright {
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 25px 0 20px;
	margin-top: 50px;
}

.footer__copyright__text p,
.footer__copyright__links p {
	color: var(--light-text-color);
	font-size: 0.8rem;
	margin-bottom: 0;
}

.footer__copyright__links strong a{
	color: var(--highlight-text-color);
}

.footer__copyright__text p i {
	color: #ff5f2a;
}

.footer__copyright__text p a {
	color: #ff5f2a;
}

.footer__copyright__links {
	text-align: right;
}

.footer__copyright__links a {
	color: #ffffff;
	font-size: 14px;
	display: inline-block;
	margin-right: 24px;
	position: relative;
}

.footer__copyright__links a:after {
	position: absolute;
	right: -17px;
	top: -1px;
	content: "|";
}

.footer__copyright__links a:last-child {
	margin-right: 0;
}

.footer__copyright__links a:last-child:after {
	display: none;
}


.footer .quote-form-area {
    background: var(--secondary-color) none repeat scroll 0 0;
    padding: 2em;
}

.footer .quote-form-area h3{
	margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.footer .quote-form input {
    margin-bottom: 10px;
	background-color: var(--light-bg);
	font-weight: 700;
	color: var(--darker-text-color);
	font-size: 1rem;

}

.footer .quote-form .width-full input {
    border: 0 none;
    padding: 10px;
    width: 100%;
}

.footer .quote-form .width-half input {
    border: 0 none;
    padding: 10px;
    width: 47%;
}


.footer .quote-form textarea {
    border: 0 none;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
	background-color: var(--light-bg);
	font-weight: 700;
	color: var(--darker-text-color);
	font-size: 1rem;
}


.footer .quote-form button {
    background: var(--darker-bg) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: var(--light-text-color);
    letter-spacing: 2px;
    padding: 1em;
	font-weight: 700;
    text-transform: uppercase;
	width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer .quote-form button:hover {
    background: var(--highlight-color);
    color: var(--darker-text-color);
}

/* ===============================================
    GoTop BUtton
------------------------*/
#totop.top-visible
{
    background-color: var(--darker-bg);
}

#totop{
    font-weight: 900;
    color: var(--light-text-color);
    display: none;
    position: fixed;
    right: 1.5rem;
    bottom: 3rem;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    text-align: center;
    padding-top: 3px;
    line-height: 34px;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.totop:hover #totop.top-visible{
    background-color: var(--highlight-color);
    color: var(--darker-text-color);
    
}
#totop.top-visible {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: inline;
}
@keyframes jump {
  0% { bottom: 20px; } 50% { bottom: 40px; } 100% { bottom: 20px; }
}
#totop.top-visible  {
  animation: jump 5s infinite;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.breadcrumb__text h2 {
	font-size: 48px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1449px) {
	.header_logo:after {
		left: -535px;
	}
	.services_item_text {
		padding: 28px;
	}
	.footer__about:after {
		height: 360px;
	}
	.chooseus__pic {
		margin-top: 0;
		width: 49%;
		height: 100%;
	}
}

@media only screen and (min-width: 1450px) {
	.container {
		max-width: 1410px;
	}
	.about-area .container{
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header_logo:after {
		left: -575px;
	}
	.header_top_widget li {
		margin-right: 5px;
	}
	.header_top_right__auth {
		padding-right: 10px;
		margin-right: 5px;
	}
	.header_top_right_social a {
		margin-right: 8px;
	}
	.header__menu ul li {
		margin-right: 25px;
	}
	.services_item_text {
		padding: 20px;
	}
	.chooseus__pic {
		margin-top: 0;
	}
	.chooseus__pic {
		height: 100%;
		width: 48%;
	}
	.latest__item__pic__inner {
		padding: 0 30px 0 30px;
	}
	.footer__about:after {
		height: 382px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header_logo {
		padding: 40px 0;
		margin-top: 0;
	}
	.header_top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.search__option {
		display: none;
	}
	.about:after {
		display: none;
	}
	.services_item_text:after {
		left: 50%;
		top: -20px;
		margin-left: -25px;
		margin-top: 0;
	}
	.services_item_text.services_item_text--bottom:after {
		right: 50%;
		top: -20px;
		margin-top: 0;
		margin-right: -25px;
	}
	.chooseus__pic {
		position: relative;
		width: 100%;
		margin-top: 0;
	}
	.chooseus {
		padding-bottom: 100px;
	}
	.projects__all {
		text-align: left;
	}
	.projects__all .primary-btn {
		margin-left: 15px;
	}
	.request__form .site-btn {
		margin-left: 15px;
	}
	.footer__about:after {
		display: none;
	}
	.canvas_open {
		display: block;
		font-size: 22px;
		color: #111111;
		height: 35px;
		width: 35px;
		line-height: 37px;
		text-align: center;
		border: 1px solid #111111;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 40px;
		top: 35px;
		z-index: 9;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #111111;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__logo {
		margin-bottom: 30px;
	}
	.offcanvas__widget {
		margin-bottom: 25px;
	}
	.offcanvas__widget li {
		list-style: none;
		font-size: 14px;
		color: #9caaaf;
		margin-bottom: 10px;
	}
	.offcanvas__widget li:last-child {
		margin-bottom: 0;
	}
	.offcanvas__widget li span {
		font-size: 16px;
		color: #ffffff;
		margin-right: 5px;
	}
	.offcanvas__auth {
		display: inline-block;
		margin-bottom: 20px;
	}
	.offcanvas__auth a {
		font-size: 14px;
		color: #9caaaf;
	}
	.offcanvas__auth a span {
		font-size: 16px;
		color: #ffffff;
		margin-right: 5px;
	}
	.offcanvas__social {
		display: inline-block;
	}
	.offcanvas__social a {
		font-size: 14px;
		color: #ffffff;
		display: inline-block;
		margin-right: 14px;
	}
	.offcanvas__social a:last-child {
		margin-right: 0;
	}
	.offcanvas__search__option {
		margin-bottom: 20px;
	}
	.offcanvas__search__option span {
		font-size: 24px;
		color: #ffffff;
		cursor: pointer;
	}
	.header .container {
		position: relative;
	}
	.about__company__counter:after {
		display: none;
	}
	.history__item {
		margin-bottom: 85px;
	}
	.history {
		padding-bottom: 45px;
	}
	.services__sidebar {
		margin-bottom: 50px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	
	.slicknav_menu .slicknav_btn{
		display: none;
	}
	.slicknav_nav {
        display:block !important;
    }

	.header_logo {
		padding: 0.2rem 0;
		margin-top: 0;
	}
	.header_logo img{
		max-width: 50vw;
	}
	.header_top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.search__option {
		display: none;
	}
	.about:after {
		display: none;
	}
	.services .p-0 {
		padding: 0 15px !important;
	}
	.services_item_text:after {
		left: 50%;
		top: -20px;
		margin-left: -25px;
		margin-top: 0;
	}
	.services_item_text.services_item_text--bottom:after {
		right: 50%;
		top: -20px;
		margin-top: 0;
		margin-right: -25px;
	}
	
	.services_item_text.long_height{
		height: 40rem;
	}
	.chooseus__pic {
		position: relative;
		width: 100%;
		margin-top: 0;
	}
	.chooseus {
		padding-bottom: 100px;
	}
	.projects__all {
		text-align: left;
	}
	.projects__all .primary-btn {
		margin-left: 15px;
	}
	.request__form .site-btn {
		margin-left: 15px;
	}
	.footer__about:after {
		display: none;
	}
	.canvas_open {
		display: block;
		font-size: 22px;
		color: var(--darker-text-color);
		height: 35px;
		width: 35px;
		line-height: 37px;
		text-align: center;
		border: 1px solid var(--highlight-color);
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 35px;
		z-index: 9;
	}

	.canvas_open.fixed_hamburger{
		position: fixed;
		color: var(--highlight-text-color);
		border: 2px solid var(--highlight-color);
		top: 1rem;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 85vw;
		height: 100%;
		background: var(--logo-bg);
		padding: 1rem;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__logo {
		margin-bottom: 30px;
	}
	.offcanvas__widget {
		margin: 2rem 0;
	}
	.offcanvas__widget a{
		color: var(--darker-text-color);
	}
	.offcanvas__widget li {
		list-style: none;
		font-size: 1rem;
		color: var(--darker-text-color);
		font-weight: 700;
		margin-bottom: 10px;
	}
	.offcanvas__widget li:last-child {
		margin-bottom: 0;
	}
	.offcanvas__widget li span {
		font-size: 1rem;
		color: var(--darker-text-color);
		margin-right: 10px;
	}
	.offcanvas__auth {
		display: inline-block;
		margin-bottom: 20px;
	}
	.offcanvas__auth a {
		font-size: 14px;
		color: #9caaaf;
	}
	.offcanvas__auth a span {
		font-size: 16px;
		color: #ffffff;
		margin-right: 5px;
	}
	.offcanvas__social {
		display: inline-block;
	}
	.offcanvas__social a {
		font-size: 14px;
		color: #ffffff;
		display: inline-block;
		margin-right: 14px;
	}
	.offcanvas__social a:last-child {
		margin-right: 0;
	}
	.offcanvas__search__option {
		margin-bottom: 20px;
	}
	.offcanvas__search__option span {
		font-size: 24px;
		color: #ffffff;
		cursor: pointer;
	}
	.header .container {
		position: relative;
	}
	.about__company__counter:after {
		display: none;
	}
	.history__item {
		margin-bottom: 85px;
	}
	.history {
		padding-bottom: 45px;
	}
	.services__sidebar {
		margin-bottom: 50px;
	}
	.footer__copyright__text {
		text-align: center;
		margin-bottom: 15px;
	}
	.footer__copyright__links {
		text-align: center;
	}
	.breadcrumb__text h2 {
		font-size: 42px;
	}
	.blog__details__widget__tags {
		text-align: center;
		margin-bottom: 15px;
	}
	.blog__details__widget__social {
		text-align: center;
	}
	.blog__details__btns__item.blog__details__btns__item--next {
		margin-top: 30px;
	}
	.search-model-form input {
		width: 100%;
	}

	.chooseus.ourpromise .chooseus__pic{
		display: none;
	}
	.footer__widget {
		margin: 2em 0;
		padding-left: 0;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.header_logo:after {
		left: -556px;
	}
	.hero_text h2 {
		font-size: 34px;
		line-height: 50px;
	}
	.latest__item__pic__inner {
		padding: 0 30px 0 30px;
	}
	.breadcrumb__text h2 {
		font-size: 32px;
	}
	.contact__text ul li .contact__widget__icon {
		margin-right: 20px;
	}
	.contact__text ul li .contact__widget__text p {
		font-size: 18px;
	}
	.search-model-form input {
		font-size: 20px;
	}
}